@CHARSET "ISO-8859-1";

body {
	background-color: silver;
}

h1 {
	color: blue;
	text-align: center;
}

div.accueil {
	text-align: center;
	font-weight: bold;
}

div.panier {
	text-align: center;
}

div.boutons {
	text-align: center;
}

table.fiche {
	margin: auto;
}

td.photo {
	vertical-align: middle;
}

td.infos {
	vertical-align: top;
}

p.prix {
	font-weight: bolder;
	text-align: center;
}

p.description {
	text-align: justify;
}

img.produit {
	height: 200px;
}

form.produit {
	display: inline;
}