@CHARSET "ISO-8859-1";

body {
	background-color: silver;
}

h1 {
	color: blue;
	text-align: center;
}

div.accueil {
	text-align: center;
	font-weight: bolder;
}

div.panier {
	text-align: center;
	font-weight: bolder;
}

div.produit {
	text-align: center;
	color: blue;
}

div.nbpanier {
	text-align: right;
	color: blue;
	font-weight: bolder;
}

div.boutons {
	text-align: center;
}

table.fiche {
	margin: auto;
}

table.panier {
	margin: auto;
	border-collapse: collapse;
}

th.panier {
	border-width: 1px;
	border-color: black;
	border-style: solid;
	padding: 5px;
	background-color: #bbbbff;	
}

td.photo {
	vertical-align: middle;
}

td.infos {
	vertical-align: top;
}

td.nom {
	text-align: left;
	border-width: 1px;
	border-color: black;
	border-style: solid;
	padding: 5px;
}

td.prix {
	text-align: right;
	border-width: 1px;
	border-color: black;
	border-style: solid;
	padding: 5px;
}

td.quantite {
	text-align: right;
	border-width: 1px;
	border-color: black;
	border-style: solid;
	padding: 5px;
}

td.montant {
	text-align: right;
	border-width: 1px;
	border-color: black;
	border-style: solid;
	padding: 5px;
}

td.action {
	text-align: center;
	border-width: 1px;
	border-color: black;
	border-style: solid;
	padding: 5px;
}

p.prix {
	font-weight: bolder;
	text-align: center;
}

p.description {
	text-align: justify;
}

img.produit {
	height: 200px;
}

form.produit {
	display: inline;
}

form.panier {
	display: inline;
}