<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>CustomMVC</display-name>
  <context-param>
    <param-name>mvc-config</param-name>
    <param-value>/WEB-INF/conf/mvc-config.xml</param-value>
  </context-param>
  <context-param>
    <param-name>log4j-config</param-name>
    <param-value>/WEB-INF/conf/log4j-config.xml</param-value>
  </context-param>
  <servlet>
    <servlet-name>Dispatcher</servlet-name>
    <servlet-class>com.jerems91.custommvc.controller.dispatch.Dispatcher</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Dispatcher</servlet-name>
    <url-pattern>/Dispatcher/*</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
</web-app>